* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #222;
}

.star {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(92, 255, 74);
  border: 4px solid white;
}
